.postbook__container {
    margin: 40px 0;

    .content-loader {
        font-size: 1.6rem;
        color: #fff;
    }

    &--header {
        margin-top: 40px;
        color: #fff;

        .header-title {
            font-size: 3rem;
        }
    }

    &--content {
        .content-form, .metadata-form {
            max-width: 800px;
        }

        .form-header {
            font-size: 2rem;
            color: #ccc;
        }
    }

    &--actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .btn-add-book {
            width: 80px;
        }

        .btn-delete {
            background-color: rgba(255, 0, 0, 0.8) !important;
        }
    }
}