.authordetails__container {
    color: #fff;

    &--header {
        margin-top: 40px;

        .header-title {
            font-size: 3rem;
            font-weight: bold;
        }

        .header-subtitle {
            margin-top: 4px;
            font-size: 1.6rem;
            color: rgba(163, 163, 163);
        }
    }

    &--content {
        margin-top: 20px;
        
        .content-biography {
            font-size: 2.4rem;
            color: rgba(163, 163, 163);
        }
    }
}