.authorlist__container {
    margin-top: 40px;

    &--total {
        font-size: 1.4rem;
        color: rgba(168, 168, 168);
    }
    
    &--header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .header-left {
            flex: 1;
            .title {
                color: #fff;
                font-size: 3rem;
                font-weight: bold;
            }
    
            .subtitle {
                color: rgba(168, 168, 168);
                font-size: 1.6rem;
                margin-top: 2px;
            }
        }

        .header-right {
            .btn-add {

            }
        }
    } 

    &--content {
        .content-list {
            margin: 32px 0;
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }

}