.bookslist__container {
    margin-top: 40px;

    &--total {
        font-size: 1.4rem;
        color: rgba(168, 168, 168);
    }

    &--header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header-left {
            flex: 1;
            .title {
                color: #fff;
                font-size: 3rem;
                font-weight: bold;
            }
    
            .subtitle {
                color: rgba(168, 168, 168);
                font-size: 1.6rem;
                margin-top: 2px;
            }
        }

    } 

    &--filter {
        margin-top: 20px;
        
        .filter-search {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }

        .filter-options {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            .options-author {
                flex: 1;
            }
        }
    }

    &--content {
        .content-list {
            margin: 32px 0;
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }

        .content-loader {
            font-size: 1.6rem;
            color: #fff;
        }
    }
}